[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "~=1.28.33"
grpcio = "~=1.51.3"
grpcio-tools = "~=1.51.3"
fastapi = "==0.93.0"
numpy = "==1.24.2"
opencv_python_headless = "==4.7.0.72"
python-dotenv = "==1.0.0"
python-multipart = "==0.0.6"
PyYAML = "==6.0"
torch = {file = "https://download.pytorch.org/whl/cpu/torch-1.13.1%2Bcpu-cp39-cp39-linux_x86_64.whl"}
torchvision = {file = "https://download.pytorch.org/whl/cpu/torchvision-0.14.1%2Bcpu-cp39-cp39-linux_x86_64.whl"}
uvicorn = "==0.20.0"
transformers = "==4.31.0"

[requires]
python_version = "3.9"
